[submodule "herdr"]
    path = herdr
    url = ./herdr

[submodule "hermes-agent"]
    path = hermes-agent
    url = ./hermes-agent

[submodule "paperclip"]
    path = paperclip
    url = ./paperclip

[submodule "SurfSense"]
    path = SurfSense
    url = ./SurfSense

[submodule "trueforge"]
    path = trueforge
    url = ./trueforge

[submodule "whisperX"]
    path = whisperX
    url = ./whisperX

